img{
    height: 200px;
    width:auto;
}

.purdue-embry{
    display: flex;
    justify-content: center;
}

.purdue{
    padding: 10px;
}

.embry{
    padding: 10px;
}

.class2{
    display:none;}

.class3{
    display:none;}

.class4{
    display:none;}

.class5{
    display:none;}

.class6{
    display:none;}

.class7{
    display:none;}

.class8{
    display:none;}

.class9{
    display:none;}

.class10{
    display:none;}

.class11{
    display:none;}

.class12{
    display:none;}

.class14{
    display:none;}
